body {
  margin: 0;
  background-color: #0f172a;
  font-family: "Segoe UI", sans-serif;
  color: #f1f5f9;
  text-align: center;
}

h1 {
  padding: 30px 0;
  color: #3b82f6;
}

canvas {
  background-color: #111827;
  border: 2px solid #3b82f6;
  border-radius: 10px;
  box-shadow: 0 0 20px #3b82f6;
}
